---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: redirects-nginx
    p4.kubernetes.io/redirect-owners: "{{ .Env.OWNERS }}"
    p4.kubernetes.io/redirect-description: "{{ .Env.DESCRIPTION }}"
    nginx.ingress.kubernetes.io/rewrite-target: "https://{{ .Env.TO }}$1"
    cert-manager.io/issuer: letsencrypt-prod
  labels:
    app: redirects
  name: redirects-{{ .Env.NAME }}
  namespace: {{ default .Env.NAMESPACE "default" }}
spec:
  tls:
  - hosts:
    - {{ .Env.FROM }}
      secretName: {{ .Env.NAME }}-tls
  rules:
    - host: {{ .Env.FROM }}
      http:
        paths:
          - path: /
            backend:
              serviceName: p4-robots-static
              servicePort: 80
