---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    p4.kubernetes.io/redirect-owners: "{{ .Env.OWNERS }}"
    p4.kubernetes.io/redirect-description: "{{ .Env.DESCRIPTION }}"
    nginx.ingress.kubernetes.io/rewrite-target: "https://{{ .Env.TO }}/$1"
    nginx.ingress.kubernetes.io/permanent-redirect: https://{{ .Env.TO }}/$1
    cert-manager.io/issuer: letsencrypt-prod
  labels:
    app: redirects
  name: redirects-{{ .Env.NAME }}
  namespace: {{ default .Env.NAMESPACE "default" }}
spec:
  ingressClassName: redirects-nginx
  tls:
    - hosts:
        - {{ .Env.FROM }}
      secretName: {{ .Env.NAME }}-tls
  rules:
    - host: {{ .Env.FROM }}
      http:
        paths:
          - path: /(.*)
            pathType: ImplementationSpecific
